/*system*/
body {
	padding-bottom: 20px;
	background: url(images/crossword.png);
}

a:hover {
	text-decoration: none;
}

.navbar {
	margin-bottom: 20px;
	border-radius: 0;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.content {
	padding: 0 15px;
}

.admin_menu a, .admin_menu a li {
	color: #777;
}

.admin_menu a .list-group-item {
	color: #fff;
	background: #777;
	border: none;
}

.admin_menu a:hover .list-group-item, .admin_menu a.active .list-group-item  {
	color: #fff;
	background: #428BCA;
	border: none;
}

.admin_menu a:hover span, .admin_menu a.active span {
	color: #428BCA;
}

.text-left {
	text-align: left !important;
}

.form-signin {
	max-width: 330px;
	margin: 0 auto;
}

a.delete {
	/*color: #A1252D;*/
}

.file-control {
    padding: 0;
    height: auto;
    line-height: inherit;
}

/*//system*/